<div class="content">
    <div class="inner classfix">

        <div class="tit">
            <h1>欢迎进入医疗数据平台</h1>
        </div>
        
        <div class="introduce ">    
            <p>
                <span>本项目基于网络社交平台对COVID-19等疾病患者求助信息进行收集、筛选、统计、分析</span><br>
                <i class="fas fa-hand-holding-heart"> </i><span>旨在支持救灾工作和政府组织、慈善机构。</span><br>
            </p>
        </div>
        <div class="details">
            <ul>
                <!-- <li><i class="fas fa-angle-right"></i>默认数据获取自微博 &nbsp;<span class="bold">#肺炎患者求助#</span>&nbsp;超话</li> -->
                <li>
                    <i class="fas fa-genderless"> </i><span class="label">关于获取数据</span><br>
                    <div>
                        <ul>
                            <li><i class="fas fa-angle-right"></i>默认数据获取自微博 &nbsp;<span class="bold">#肺炎患者求助#</span>&nbsp;超话</li>
                            <li><i class="fas fa-angle-right"></i>支持输入自定义网址，提取出姓名、疾病信息</li>
                            <!-- <li><i class="fas fa-angle-right"></i>支持上传excel、csv格式文件，统计分析</li> -->
                        </ul>
                    
                    </div>
                    
                </li>
                <li>
                    <i class="fas fa-genderless"> </i><span class="label">关于统计分析</span><br>
                    <div>
                        <ul>
                            <li><i class="fas fa-angle-right"></i>对得到的病例进行疾病类型、求助时间、年龄区间、地区这几个方面的统计</li>
                        </ul>
                    
                    </div>
                    
                </li>
                <li>
                    <i class="fas fa-genderless"> </i><span class="label">关于地区预警</span><br>
                    <div>
                        <ul>
                            <li><i class="fas fa-angle-right"></i>针对不同地区，给出风险评级和医疗建议</li>
                        </ul>
                    
                    </div>
                    
                </li>
                <li>
                    <i class="fas fa-genderless"> </i><span class="label">关于危急患者</span><br>
                    <div>
                        <ul>
                            <li><i class="fas fa-angle-right"></i>将情况危急的患者列出，并在界面上推荐相似病例</li>
                        </ul>
                    
                    </div>
                    
                </li>
            </ul>
        </div> 
    </div>
</div>